.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input{
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 20px;
  background-color: teal;
  color: var(--textColor);
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: bold;
  /* border: 1px solid #000000; Example: 2px solid black border */
}