.container {
    display: flex;
}

.menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: var(--border-radius);
}

.content {
    flex: 4;
    padding-left: 20px;
}