.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 200px;
}

.context {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}